<%- include('../partials/header.ejs') %>
<%- include('../partials/navbar.ejs') %>
<style>
    .num{
        position: absolute;
        top: 38%;
        font-size: 28px;
        font-weight: 700;
    }
    .text{
        font-size: 20px;
        font-weight: 500;
        margin-top: 8px;
    }
</style>
<section>
   <div class="container">
    <div class="grid gird-flow-row grid-cols-2 md:grid-cols-4 gap-1 my-3">
       <a href="/user/admin/total-orders">
        <div class="first bg-blue-300 border relative flex justify-center rounded-md h-32">
            <p class="text">Total Order</p>
            <p class="num"><%= total_orders %></p>
        </div>
       </a>
       <a href="/user/admin/rejected-orders"> <div class="first bg-blue-300 border relative relative flex justify-center rounded-md h-32">
            <p class="text">Rejected Orders</p>
            <p class="num"><%= rejected_orders %></p>
        </div></a>

       <a href="/user/admin/pending-orders"> <div class="first bg-blue-300 border relative flex justify-center rounded-md h-32">
            <p class="text">Pending Orders</p>
            <p class="num"><%= pending_orders %></p>
        </div></a>
       <a href="/user/admin/accepted-orders"> <div class="first bg-blue-300 border relative relative flex justify-center rounded-md h-32">
            <p class="text">Accepted Orders</p>
            <p class="num"><%= accepted_orders %></p>
        </div></a>
    </div>
   </div>
</section>
<section class="container ">
    <div class="grid grid-flow-row grid-cols-1  md:grid-cols-4">
        <a href="/user/admin/add-blog" class="font-bold mt-2 text-white py-1 px-2 theme-color text-center rounded-md">Add Blog</a>
          
        <a href="/user/admin/add-author" class="font-bold mt-2 text-white py-1 px-2 theme-color text-center rounded-md ml-3">Add Author</a>

    </div>
</section>


<%- include('../partials/footer.ejs') %>


