<%- include('./partials/header.ejs') %>
    <%- include('./partials/navbar.ejs') %>

        <div class="container mx-auto">
            <p class="border-l-4 px-2 font-bold my-2 border-red-700">Blog Posts</p>
            <% if(blogs){blogs.forEach(blog=> { %>

            <div class="cardd mb-4">
                <p class="text-2xl"><%= blog.title %></p>
                <div class="img w-full my-2">
                    <img src="<%= blog.image %>" alt="">
                </div>
                <p class="text-md"><%= blog.desc %></p>
                <hr>
            </div>
<% })} %>
        </div>



        <%- include('./partials/footer.ejs') %>