<%- include('./partials/header.ejs') %>
 <%- include('./partials/navbar.ejs') %>
<% if(session.cart) { %>
    <div class="container">
        <table>
            <% for(let product of Object.values(session.cart.items)){ %>
            <tr>
                <td>name </td>
                <td><%= product.item.name %></td>
            </tr>
            <tr>
                <td>price </td>
                <td><%= product.item.price %></td>
            </tr>
            <tr>
                <td>Qty </td>
                <td><%= product.Qty %></td>
            </tr>
            <% } %>
        </table>
    </div>  
    <%  }else{ %>

    <div class="container">
        <h4>NO item found</h4>

    </div>
    <% } %>

<%- include('./partials/footer.ejs') %>


