<%- include('./partials/header.ejs') %>
    <%- include('./partials/navbar.ejs') %>
    <div class="bg-green-400 py-1 px-2 text-center" id="msg" style="display: none;">Product Added to cart</div>
    <div class="container">
                <div class="row">
            <% if(product){ %>
            <div class="col-12 col-md-5">
                <div class=" mx-auto">
                    <div class="heading my-1 text-color ">
                        <nav aria-label="breadcrumb ">
                            <ol class="breadcrumb mb-0 ">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item"><a href="#"><%= product.category %></a></li>
                                <li class="breadcrumb-item " aria-current="page"><%= product.name %></li>
                                <li class="ml-auto"><%= product.rating %></li>
                            </ol>
                        </nav>
                    </div>
                    <div class=" h-44 bg-gray-300">
                        <div id="owl-one" class="owl-carousel owl-theme w-full ">
                            <% if(product.images){product.images.forEach(image=>{ %>
                                <div class="text-center h-44"> <img src="<%= image %>" alt="" class="h-44"/></div>
                           <% })} %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="px-1 mt-2">
                    <p class="text-sm font-bold text-color"><%= product.name %></p>
                    <p class="text-sm font-bold text-color"><%= product.desc %></p>
                    <div class="from">Brand : Brand name</div>
                    <div class="qty">quantity</div>
                    <div class="qty">colors</div>
                    <div class="qty">sizes</div>
                    <div class="price">PKR : <%= product.price %> <span class="deleted"><del> PKR : <%= product.price   %></del> </span></div>
                    <button type="submit" data-item ='<%= JSON.stringify(product) %>' class="py-1 px-3  cart theme-color w-full rounded-md"> buy now</button>
                </div>
            </div>
            <% } %>
        </div>
    </div>
        <hr class="my-2">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <p class="relative ">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae ut totam odit,
                        reprehenderit suscipit dolores. At consequatur provident vitae voluptatibus, suscipit molestiae
                        laborum dicta quam, est ducimus aliquam facere incidunt.
                    <p class="datentime text-end">213/123/123</p>
                    </p>
                </div>
                <div class="col-12 col-md-6">
                    <div class="container mt-2 flex flex-row row border px-2 py-2 mx-auto">
                    
                            <div class="col-3"> <img src="" alt="" class="w-12"></div>
                        <div class="col-8">
                            <div class="card-details">
                                <p class="heading">item naem</p>
                                <p class="price">price</p>
                                <div class="buynow w-full theme-color">buynow</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <%- include('./partials/footer.ejs') %>

        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

            <script>
                $(document).ready(function () {
                    $('#owl-one').owlCarousel({
                        items: 1,
                        loop: true,
                    })



                });
            </script>
            <script>
                let msgContainer = document.getElementById('msg')
            
                let cartBtn = document.querySelectorAll('.cart')
                cartBtn.forEach((btn) => {
                    btn.addEventListener('click' , (e) => {
                        let product = JSON.parse(btn.dataset.item)
                         updataCart(product)
                        console.log(product)
                    })
                })
             
             
                function updataCart(product){
                 axios.post('/addtocart', product)
               .then(function (response) {
                 console.log(response);
                 let totalcart  = document.getElementById('totalcart')
                msgContainer.style.display = "block"
                hide()
                 totalcart.innerText = response.data.totalQty
                })
                .catch(function (error) {
                    console.log(error);
                });
                
            }
            
            function hide() {
                setTimeout(() => {
                msgContainer.style.display = "none"
            }, 500);  
            }  
             </script>